:root {
    font-size: 17px;
    color: white;
}

html,
body {
    background-color: black;
    height: 100%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 1rem;
}

#userNum {
    background-color: rgb(94, 94, 94);
    padding: 0.6rem 1rem;
    font-size: 120%;
    border-radius: 0.5rem;
    color: white;
    border: none;
    transition: all 0.3s;
    margin-right: 0.5rem;
}

#save {
    background-color: rgb(9, 182, 9);
    padding: 0.6rem 1rem;
    font-size: 120%;
    border-radius: 0.5rem;
    color: white;
    border: none;
    transition: all 0.3s;
}

#save:hover {
    background-color: rgb(40, 105, 40);
}

#saved {
    visibility: hidden;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgb(51, 51, 51);
    padding: 0.6rem 1rem;
    font-size: 180%;
    border-radius: 0.5rem;
    color: rgb(9, 182, 9);
    font-weight: bolder;
    transition: all 0.3s;
}
