<!DOCTYPE html>
<html>
    <head>
        <title>Google Classroom User Redirect</title>
        <script defer src="./js/options.js"></script>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div id="saved">Saved!</div>
        <div class="container">
            <div class="options">
                <h1>Enter the correct Google Account ID</h1>
                <p>This is the number found after <code>/u/</code>in the URL</p>
                <input type="number" name="num" min="0" id="userNum" />
                <button id="save">Save</button>
            </div>
        </div>
    </body>
</html>
